<body>
  <div class="container">
    <form action="/weather" method="POST">
      <input type="text" name="cityName">
      <br>
      <button type="submit">Apply City</button>
    </form>
    <div class="info-wrapper">
      <p>{{temperature}}</p>
      <p>{{description}}</p>
      <p>{{windSpeed}}</p>
    </div>
  </div>
</body>